.index {
    background-color: #181822;
    font-family: "JetBrains Mono", Helvetica;
    position: relative;
    width: 100vw;
    height: 200vh;
    align-items: center;
  }
  
  .project-name {
    overflow: hidden;
    color: #ffffff;
    font-weight: 400;
    font-size: 85px;
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
    position:absolute;
    inset: 10rem 0 0 0;
    margin: auto;
  }
  
  .arrow {
    height: 45px;
    position: fixed;
    bottom: 10%;
    right: 50%;
    left: 48%;
  }
  