.index {
    background-color: #181822;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #181822;
    height: 100vh;
    position: relative;
    width: 100vw;
  }
  

  .overlap-group {
    background-color: #0d0d15;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  
  
.text-wrapper {
    color: #ffffff;
    font-family: "JetBrains Mono", Helvetica;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    height: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .text-wrapper-3 {
    color: #ffffff;
    font-family: "JetBrains Mono", Helvetica;
    font-size: 85px;
    font-weight: 400;
    left: 174px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 330px;
    width: 1092px;
  }
  
  .arrow {
    height: 45px;
    left: 679px;
    position: fixed;
    bottom: 10%;
    right: 50%;
    left: 50%;
  }
  