.subjects-body {
    background-color: #1E1E1E;
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
    text-align:center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.subject-container {
    background-color: #0D0D15;
    width: 90%;
    margin: 1rem;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
}